@import "tailwindcss";

@theme {
  --color-brand: #275DAA;
  --color-brand-dark: #1E4A88;
  --color-brand-bg: #F5F7FA;
  --color-brand-text: #111111;
  --color-brand-sub: #666666;

  --font-sans: 'Pretendard', sans-serif;

  --breakpoint-sm: 360px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
